#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;

}

.data-form {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

#signin-logo{
  background-image: url("../images/login-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  display: inline-block;
  margin: 10px;
}

#signup-logo{
  background-image: url("../images/sign-in.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  display: inline-block;
  margin: 10px;
}

h1{
  font-weight: bold;
}